<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <title>Auto Brillo</title>
</head>
<body class="">
  <div class="wrapper">
    <main class="main">
      @@include("./../component/page/index/hero.html")
      @@include("./../component/page/index/wash.html")
      @@include("./../component/page/index/polish.html")
      @@include("./../component/page/index/clean.html")
      @@include("./../component/page/index/repair.html")
      @@include("./../component/page/index/order.html")
    </main>
  </div>
  <script src="js/index.js"></script>
</body>
</html> 