.polish {
  @include adaptivePropertyMobile(margin-bottom, 200, 40);

  &__container {
  }
  
  &__wrapper {
    display: grid;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  &__back {
    display: block;
    position: absolute;
    z-index: -1;
    @include adaptivePropertyMobile(width, 500, 300);
    aspect-ratio: 1/1;
    right: -10%;
    top: 5%;
    @media (max-width: 700px) {
      display: none;
    };
    & > svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    @include adaptivePropertyMobile(max-width, 682, 400);
    @include adaptivePropertyMobile(padding, 50, 20);
    grid-column: 1/1;
    grid-row: 1/1;
    align-self: center;
    justify-self: end;
    translate: -10%;
    @media (max-width: 700px) {
      justify-self: center;
      background-color: hsla(from var(--primary-bgColor) h s l / 0.8);
      border: none;
      border-radius: 0px;
      translate: 0%;
    };
    & > *:not(:last-child) {
      @include adaptivePropertyMobile(margin-bottom, 20, 10);
    }
  }

  &__title-inner {
  }

  &__title {
  }

  &__title-car {
  }

  &__cost {
  }

  &__cost-value {
  }

  &__subtitle {
  }

  &__text {
  }

  &__image {
    display: block;
    width: 60%;
    height: 70dvh;
    @include adaptivePropertyMobile(min-height, 1200, 500);
    grid-column: 1/1;
    grid-row: 1/1;
    @media (max-width: 700px) {
      width: 100%;
    };
    & > img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }
}

